**.exe
*.wiki
architecture
*.env
meili_data*
config.yml
__debug_bin*
test*.*
search-engine*
/cache*/
/text_cache*/
indexer/indexer
onedrive*
*.db
*.sqlite3
frontend/node_modules
*.yml
*.yaml
!docker-compose*.yaml
!example-config.yml
!.github/workflows/*.yml
huggingface
models
localai*
repos
*.temp
*.tmp
!testdata
tools/summary/*.png
tools/summary/*.json
